In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from src.data_prep import load_data
from src.feature_eng import extract_time_features, groupby_user

In [3]:
# import data
dev = load_data("../data/raw/dev.csv")
level_meta = load_data("../data/raw/level_meta.csv")
level_seq = load_data("../data/raw/level_seq.csv")
test = load_data("../data/raw/test.csv")
train = load_data("../data/raw/train.csv")

In [4]:
# create a copy of level seq
level_seq_eng = level_seq.copy()


# change time colum's type to datetime
level_seq_eng = extract_time_features(level_seq_eng, "time")

level_seq_eng

,user_id,level_id,f_success,f_duration,f_reststep,f_help,time,day,hour
0,10932,1,1,127.0,0.500000,0,2020-02-01 00:05:51,1,0
1,10932,2,1,69.0,0.703704,0,2020-02-01 00:08:01,1,0
2,10932,3,1,67.0,0.560000,0,2020-02-01 00:09:50,1,0
3,10932,4,1,58.0,0.700000,0,2020-02-01 00:11:16,1,0
4,10932,5,1,83.0,0.666667,0,2020-02-01 00:13:12,1,0
...,...,...,...,...,...,...,...,...,...
2194346,10931,40,1,111.0,0.250000,1,2020-02-03 16:26:37,3,16
2194347,10931,41,1,76.0,0.277778,0,2020-02-03 16:28:06,3,16
2194348,10931,42,0,121.0,0.000000,1,2020-02-03 16:30:17,3,16
2194349,10931,42,0,115.0,0.000000,0,2020-02-03 16:33:40,3,16
2194350,10931,42,1,91.0,0.181818,0,2020-02-03 16:35:18,3,16

In [5]:
#level_seq_eng = user_features(level_seq_eng)
#level_seq_eng

In [6]:
#level_seq_eng = level_features(level_seq_eng)
#level_seq_eng

In [7]:
level_seq_eng = groupby_user(level_seq_eng)
level_seq_eng

,user_id,max_level,user_success_rate,user_avg_duration,level_avg_reststep,total_used_help,user_help_rate,most_played_day,most_played_hour
0,1,122,0.263291,98.379747,0.060526,8,0.020253,1,12
1,2,170,0.514768,85.189873,0.150546,20,0.084388,1,22
2,3,186,0.608696,96.917391,0.235325,14,0.060870,1,0
3,4,178,0.532710,123.682243,0.143748,8,0.074766,1,6
4,5,123,0.420168,123.756303,0.118816,20,0.084034,1,0
...,...,...,...,...,...,...,...,...,...
13584,13585,135,0.451613,109.826613,0.119008,12,0.048387,2,20
13585,13586,179,0.446945,125.144695,0.108392,16,0.051447,2,13
13586,13587,111,0.700000,109.750000,0.228793,0,0.000000,4,15
13587,13588,27,0.964286,75.642857,0.441202,0,0.000000,2,0
13588,13589,19,0.809524,66.809524,0.421839,0,0.000000,3,15

In [8]:
level_seq_eng.to_pickle("level_seq_eng.pkl")